@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #5d5d5d;
    --color-blue: #16a7fb;
    --color-orange: #ffa500;
    --color-red: #ff0000;
    --color-green: #00ff00;
    --color-yellow: #ffff00;
    --color-purple: #800080;
    --color-pink: #ffc0cb;

    --color-primary: var(--color-black);
    --color-text: var(--color-white);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);

    --size-max-width: 1200px;
    --header-height: 70px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ownglyph_ParkDaHyun', sans-serif;
    background-color: var(--color-white);
    color: var(--color-black);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.menu_lists>.menu_item:hover {
    border-bottom: 2px solid var(--color-accent);
}

.menu_lists>.menu_item:active {
    outline: 2px solid var(--color-accent-variant);
}

.header {
    background-color: var(--color-primary);
    color: var(--color-text);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home {
    margin-top: 85px;
    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    color: var(--color-text);
}

.home>a:hover {
    color: var(--color-accent);
}

.home .title {
    color: var(--color-accent);
}

.title a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-text);
}

.menu_lists {
    display: flex;
    gap: 1rem;
}

.menu_item {
    padding: 0.5rem;
    color: var(--color-text);
}

main {
    max-width: var(--size-max-width);
    margin: 0 auto;
    padding-top: calc(var(--header-height) + 2rem);
    padding: 2rem;
}

section {
    margin-bottom: 4rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p,
section address,
section a {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_me {
    background-color: var(--color-primary-variant);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    width: 60%;
    color: var(--color-text);
}

.about_me ul {
    padding: 1rem;
    gap: 2rem;
}

.about_me ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.about_me ul .op {
    opacity: 0.5;
}

.about_me ul li:hover .op {
    opacity: 1;
    transition: transform 0.4s ease, opacity 0.4s ease;
    color: var(--color-accent);
}

.skills {
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    width: 35%;
    color: var(--color-text);
}

.skills ul li {
    padding: 1rem;
    gap: 2rem;
}

.intro-hover-area {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.intro-hover-area .logos {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: transform 0.6s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-hover-area .logo-text {
    opacity: 0.5;
    transition: opacity 0.4s ease;
    color: var(--color-white);
    font-size: 1rem;
}

.intro-hover-area:hover .logos {
    transform: rotate(360deg) scale(1.2);
}

.intro-hover-area:hover .logo-text {
    opacity: 1;
    color: var(--color-accent);
}

.education_logo {
    background-image: url(../images/korea_it.jpg);
}

.fa_logo {
    background-image: url(../images/fa.jpg);
}

.html_logo {
    background-image: url(../images/html.jpg);
}

.java_logo {
    background-image: url(../images/java.png);
}

.python_logo {
    background-image: url(../images/python.jpg);
}

.works_list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    color: var(--color-text);
}

.works li {
    position: relative;
    width: 45%;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--color-primary-variant);
    color: var(--color-text);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
    height: 180px;
    font-size: 1.2rem;
}

.works span {
    position: absolute;
    top: 55%;
    line-height: 1.3rem;
    font-weight: normal;
    color: var(--color-accent);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    opacity: 0;
}

.works li:hover span {
    opacity: 1;
    transform: translateX(80px);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.works li:hover {
    opacity: 0.8;
    transition: 0.4s ease;
}


#stock_predict {
    background-image: url(../images/stock_predict.png);
}

#stock_predict::after {
    background-image: url(../images/stock_predict.png);
}

#game {
    background-image: url(../images/game.png);
}

#game::after {
    background-image: url(../images/game.png);
}

#mbti {
    background-image: url(../images/MBTI.png);
}

#mbti::after {
    background-image: url(../images/MBTI.png);
}

#flame_guard {
    background-image: url(../images/flame_guard.png);
}

#flame_guard::after {
    background-image: url(../images/flame_guard.png);
}

.works a:hover {
    color: var(--color-accent);
    font-weight: bold;
}


.contact {
    background-color: var(--color-accent);
    margin: 2rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: 5px;
    color: var(--color-white);
}

.contact:hover {
    outline: 2px solid var(--color-accent-variant);
}

.contact a:hover {
    color: var(--color-accent-variant);
}


footer {
    background-color: var(--color-primary);
    color: var(--color-text);
    text-align: center;
    padding: 1rem;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

footer a {
    color: var(--color-accent);
}

@media (max-width: 768px) {

    .header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 1rem;
    }

    .skills {
        width: 100%;
    }

    .about_me {
        width: 100%;
    }

    .home {
        margin-top: 400px;
    }

    .menu_lists {
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    .menu_item {
        padding: 0.5rem 0;
    }

    .intro-hover-area {
        width: 100%;
        justify-content: flex-start;
    }

    .intro-hover-area .logo-text {
        font-size: 0.9rem;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {

    .about_me,
    .skills {
        width: 100%;
    }

    .works li {
        width: 100%;
    }
}